[submodule "autoload/pathogen"]
	path = autoload/pathogen
	url = git://github.com/tpope/vim-pathogen.git
	branch = master
	ignore = dirty
[submodule "bundle/vim-plist"]
	path = bundle/vim-plist
	url = git://github.com/iHavee/vim-plist.git
	branch = master
	ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
	branch = master
	ignore = dirty
