[submodule "autoload/pathogen"]
	path = autoload/pathogen
	url = git://github.com/tpope/vim-pathogen.git
	branch = master
	ignore = dirty
[submodule "bundle/vim-plist"]
	path = bundle/vim-plist
	url = git://github.com/iHavee/vim-plist.git
	branch = master
	ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
	branch = master
	ignore = dirty
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = git://github.com/aperezdc/vim-template.git
	branch = master
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	branch = master
	ignore = dirty
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
	branch = master
	ignore = dirty
[submodule "bundle/modeliner"]
	path = bundle/modeliner
	url = git://github.com/vim-scripts/Modeliner.git
	branch = master
	ignore = dirty
